<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com">

    <application
        android:allowBackup="true"
        android:fullBackupContent=""
        android:icon="@drawable/goldnav_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/goldnav_logo"
        android:supportsRtl="true">
        <activity
            android:name="groupm.goldnav.Pathfinder"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            />
        <activity
            android:name="groupm.goldnav.SplashScreen"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="groupm.goldnav.Selections"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name="groupm.goldnav.FindRoom"
            android:theme="@android:style/Theme.NoTitleBar"
            />
        <activity
            android:name="groupm.goldnav.ShowMap"
            android:theme="@android:style/Theme.NoTitleBar"
            />
        <activity
            android:name="groupm.goldnav.Path"
            android:theme="@android:style/Theme.NoTitleBar"
            />
    </application>

</manifest>