<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/gold_nav_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/gold_nav_logo"
        android:supportsRtl="true"

        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.NoActionBar"
>


        <activity android:name="groupm.goldnav.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="groupm.goldnav.Selections" />
        <activity android:name="groupm.goldnav.FindRoom" />
        <activity android:name="groupm.goldnav.ShowMap" />
    </application>

</manifest>